.game{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headerTitleScore{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.cardArea{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
    justify-items: center;
}

.pokeCard{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: red;
    border-radius: 10px;
}
.pokeImg{
    width: 70%;
    height: 70%;
    object-fit: cover;
    border-radius: 10px;
}